body{
	background-color: white;
}

.grid-container{
	display: grid;
	grid-template-columns: 200px 200px 300px 150px 300px;
	grid-template-rows: 100px 355px 100px 100px;
	grid-gap: 20px;
}

header{
	background-image: url(images/menu.jpg);
	background-repeat: no-repeat;
	grid-column-start: 2;
	grid-column-end: 6;
}

aside{
	background-image: url(images/net-binnen.jpg);
	background-repeat: no-repeat;
	background-color: green;
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end: 4;
}

nav{
	background-color: pink;
	background-image: url(images/banner.jpg);
	background-repeat: no-repeat;
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 4;

}

main{
	background-color: yellow;
	background-image: url(images/commando.jpg);
	background-repeat: no-repeat;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 3;
}

footer{
	background-color: red;
}